<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2>
      Yikes! Please fix
      <%= pluralize(@game.errors.count, "error") %>:
    </h2>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
