<% provide(:header, "Games") %>

<div class="lead col-md-5 col-md-offset-4">
  <%= render "games/recap" %>
  <br/>
  <br/>
  <div class="well">
    <p class="lead">
      Edit Move
    </p>
    <%= render "moves/form" %>
  </div>
</div>
