<% provide(:title, "Edit Move") %>
<% provide(:header, "Edit Move") %>

<div>
  <%= render "games/recap", game: @game, index_page: false %>
  <br/>
  <br/>
  <div class="well">
    <p class="lead">
      Edit Move
    </p>
    <%= render "moves/form" %>
  </div>
</div>
