<% provide(:title, "New Move") %>
<% provide(:header, "New Move") %>

<div>
  <%= render "games/recap" %>
  <br/>
  <br/>
  <div class="well">
    <p class="lead">
      Add Move
    </p>
    <%= render "moves/form" %>
  </div>
</div>
