<div class="lead col-md-6 col-md-offset-3">
  <%= render "games/recap" %>
  <br/>
  <br/>
  <div class="well">
    <p class="lead">
      Add Move
    </p>
    <%= render "moves/form" %>
  </div>
</div>
