<div class="row">
  <div class="col-xs-6">
    <%= link_to "Edit Game", edit_game_path(@game), class: "btn btn-default form-control" %>
  </div>
  <div class="col-xs-6">
    <%= link_to "Delete Game", game_path(@game),
      class: "btn btn-small btn-default form-control",
      # Why does this delete-alert pop up twice?
      method: :delete, data: { confirm: "Are you sure?" }
    %>
  </div>
</div>
