<table class="table table-hover lead">
  <th>
    #
  </th>
  <th>
    White
  </th>
  <th>
    Black
  </th>
  <% @game.moves.each do |move| %>
    <tr>
      <td>
        <%= @game.next_move_number %>.
      </td>
      <td>
        <%= move.white %>
      </td>
      <td>
        <%= move.black %>
      </td>
    </tr>
  <% end %>
</table>
