<% provide(:header, "Games") %>

<% if @games.first.nil? %>
  <div id="no_games_container" class="center">
    <p class="lead">
      Hey there, you don't have any games saved.
    </p>
  </div>
<% else %>
  <% @games.each do |game| %>
    <div>
      <p class="lead">
        <% if game.color == "white" %>
          &#9898;
        <% else %>
          &#9899;
        <% end %>
        <%= game.opponent_fname %>
        <%= game.opponent_lname %>
        &nbsp;
        &nbsp;
        &nbsp;
        <%= game.result %>
        &nbsp;
        &nbsp;
        &nbsp;
        <%= game.day.to_s %>
      </p>
    </div>
    <hr/>
  <% end %>
<% end %>
