<% provide(:title, "Games") %>
<% provide(:header, "Games") %>

<div>
  <div class="center">
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to "All", games_path, class: "btn btn-default disabled" %>
      <%= link_to "My Games", my_games_path, class: "btn btn-default" %>
    </div>
  </div>
  <br/><br/>
  <div class="">
    <% @games.each do |game| %>
      <%= render "games/recap", { game: game, index_page: true } %>
      <hr/>
    <% end %>
  </div>
</div>
