<% provide(:title, "Games") %>
<% provide(:header, "Games") %>

<%= render "games/recap", { game: @game, index_page: false } %>

<div>

  <% if @game.has_moves? %>
    <%= render "games/scoresheet" %>
  <% else %>
    <div class="bg-warning center">
      This game is empty.
    </div>
  <% end %>

  <% if logged_in_and_current_user?(@game.user) %>
    <%= render "moves/add_move" %>
    <%= render "games/game_links" %>
  <% end %>
</div>
