@import "bootstrap-sprockets";
@import "bootstrap";

//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
$lighten: 23%;

//**********
//*
//* UNIVERSAL
//*
//**********

html {
	overflow-y: scroll;
}
body {
  padding-top: 130px;
	padding-bottom: 70px;
}

//**********
//*
//* HEADER
//*
//**********

//**********
//*
//* LOGGED IN
//*
//**********

#no_games_container {
	margin-top: 20em;
}
.result_container {
	opacity: .6;
}
#result_won {
	color: green;
}
#result_lost {
	color: red;
}
#result_drew {
	color: orange;
}
#result_won a {
	color: green;
}
#result_won a:hover {
	color: lighten(green, $lighten);
	text-decoration: none;
}
#result_lost a {
	color: red;
}
#result_lost a:hover {
	color: lighten(red, $lighten);
	text-decoration: none;
}
#result_drew a {
	color: orange;
}
#result_drew a:hover {
	color: lighten(orange, $lighten);
	text-decoration: none;
}
table a {
	color:#000;
}
table a:hover {
	text-decoration: none;
	color: #000;
}


//**********
//*
//* FOOTER
//*
//**********

.navbar_footer{
	margin: 0;
	font-weight: normal;
  a{
	  color: #000;
	  &:hover{
		  background: none;
		  text-decoration: none;
		  font-weight: bold;
	  };
	  &:active{
		  background: none;
		  text-decoration: none;
			font-weight: bold;
	  };
  }
}
.footer_active_link{
	color: red;
}

//**********
//*
//* MISCELLANEOUS
//*
//**********
.center {
	text-align: center;
}
