@import "bootstrap-sprockets";
@import "bootstrap";

//**********
//*
//* MIXINS, VARIABLES, ETC.
//*
//**********

@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
$lighten: 23%;
$circle_size: 27px;

//**********
//*
//* UNIVERSAL
//*
//**********

html {
	overflow-y: scroll;
}
body {
  padding-top: 100px;
	padding-bottom: 100px;
}

//**********
//*
//* HEADER
//*
//**********
.navbar-default {
	background: #FFF;
	border-color: #F2F2F2;
}

//**********
//*
//* LOGGED IN
//*
//**********

.circle {
	border-radius: $circle_size;
	width: $circle_size;
	height: $circle_size;
	display: inline-block;
}
.white_circle {
	@extend .circle;
	background: #FFF;
	border: 1px solid #000;
}
.black_circle {
	@extend .circle;
	background: #000;
	border: 1px solid #FFF;
}
.recap_container {
	opacity: .6;
}
.vertical_align {
	vertical-align: 7px;
}
#no_games_container {
	margin-top: 20em;
}
.recap_container {
	opacity: .6;
}
#recap_won {
	color: green;
}
#recap_lost {
	color: red;
}
#recap_drew {
	color: orange;
}
#recap_won a {
	color: green;
}
#recap_won a:hover {
	color: darken(green, $lighten);
	text-decoration: none;
}
#recap_lost a {
	color: red;
}
#recap_lost a:hover {
	color: darken(red, $lighten);
	text-decoration: none;
}
#recap_drew a {
	color: orange;
}
#recap_drew a:hover {
	color: darken(orange, $lighten);
	text-decoration: none;
}
.game_card_container {
	margin-bottom: 10px;
}
table a {
	color:#000;
}
table a:hover {
	text-decoration: none;
	color: #000;
}


//**********
//*
//* FOOTER
//*
//**********

.navbar_footer{
	margin: 0;
	font-weight: normal;
  a{
	  color: #000;
	  &:hover{
		  background: none;
		  text-decoration: none;
		  font-weight: bold;
	  };
	  &:active{
		  background: none;
		  text-decoration: none;
			font-weight: bold;
	  };
  }
}
.footer_active_link{
	color: red;
}

//**********
//*
//* MISCELLANEOUS
//*
//**********
.center {
	text-align: center;
}
